<br>
<div id="flash-message">
    {{#if messages.error}}
    <div class="alert-danger">{{messages.error}}</div>
    {{else}}
    <div class="alert-success">{{messages.success}}</div>
    {{/if}}
</div>
