 <header>
     <div class="WA-logochangingthemes">
        <a class="WA-orb1" href="https://www.google.com">orb1</a>
        <a class="WA-orb2" href="https://www.google.com">orb2</a>
        <img id="WizardsAbodeLogo" src="../public/css/fonts/The Wizard's Abode (Final Logo).png">
        <a class="WA-orb3" href="https://www.google.com">orb3</a>
        <a class="WA-orb4" href="https://www.google.com">orb4</a>
    </div>
        <div id = "wrapper">
            <div class="navigationbar">
                <a class="active" href="/" id="theabode-columnhomepage">The Column</a>
                <a href="/postimage" id="theabode-postnewimage">Post Image</a>
                <a href="/imagepost" id="theabode-imageoftheday">Image of the Day</a>

                {{#if logged}}
                <a href="/" id="theabode-logout">Log Out</a>
                {{else}}
                <a href="/login" id="theabode-login">Log In</a>
                {{/if}}
                <a href="/registration" id="theabode-signupregister">Sign Up</a>
                <button onclick="searchBar()" id="theabode-searchicon"></a>
            </div>
        </div>
</header>

<div id="WA-dropdownsearchbar">
    <div id="WA-searchbar">
        <input type="text" id="theabode-search" name="search" placeholder="Ask and you shall receive...">
    </div>
</div>