 <header>
        <img id="WizardsAbodeLogo" src="public/css/fonts/The Wizard's Abode (Final Logo).png">
        <div id = "wrapper">
            <nav id = "navigation-bar">
            </nav>
        </div>
        <h1>Welcome to the Wizard's Column!</h1>
        <h1 id="number-of-photos">There are 20 photos on the page.</h1>
    </header>