 <header>
     <div class="WA-logochangingthemes">
        <img id="WizardsAbodeLogo" src="../public/css/fonts/The Wizard's Abode (Final Logo).png">
        <a class="WA-orb1">orb1</a>
    </div>


        <div id = "wrapper">
            <div class="navigationbar">
                <a class="active" href="/" id="theabode-columnhomepage">The Column</a>
                <a href="/postimage" id="theabode-postnewimage">Post Image</a>
                <a href="/imagepost" id="theabode-imageoftheday">Image of the Day</a>

                {{#if logged}}
                <a href="/" id="theabode-logout">Log Out</a>
                {{else}}
                <a href="/login" id="theabode-login">Log In</a>
                {{/if}}
                <a href="/registration" id="theabode-signupregister">Sign Up</a>
                <a id="theabode-searchicon"></a>
                <input type="text" id="theabode-search" name="search" placeholder="Search..">
            </div>
        </div>
    </header>