 <header>
        <img id="WizardsAbodeLogo" src="./public/css/fonts/The Wizard's Abode (Final Logo).png">
        <div id = "wrapper">
            <div class="navigationbar">
                <a class="active" href="/">The Column</a>
                <a href="/postimage">Post Image</a>
                <a href="/imagepost">Image of the Day</a>

                {{#if logged}}
                <a href="/users/logout">Log Out</a>
                {{else}}
                <a href="/login">Log In</a>
                {{/if}}
                
                <a href="/registration">Sign Up</a>
            </div>
        </div>
    </header>