
<!-- This contains all of my duplicated code from the head tags to the JS and CSS links.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
    <link rel="stylesheet" type="text/css" href="/public/css/form.css">
    <script defer src="/public/js/imagecollection.js"></script>
    <script defer src="/public/js/FormValidation.js"></script>
    <title>{{title}}</title>
</head>

 <body>
     <div id = "container">
         {{log this}}
         {{> header}}
         {{#if (emptyObject messages)}}
         {{> flashmessage}}
         {{/if}}
         {{{body}}}
         {{> footer}}
     </div>

     {{#if logged}}
        <script>
            let element = document.getElementById('theabode-logout');
            if (element) {
                element.onclick = (even) => {
                    fetch('/users/logout',{
                        method:"POST"
                    })
                    .then((data) => {
                        location.replace('/');
                    })
                }
            }
        </script>

     {{/if}}
 </body>

 </html>