<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <script defer type="text/javascript" src="../js/imagecollection.js"></script>

    <title>HomePage</title>
</head>
<body>
    <header>
        <img id="WizardsAbodeLogo" src="../css/fonts/The Wizard's Abode (Final Logo).png">
        <h1>Welcome to the Wizard's Column!</h1>
        <h1 id="number-of-photos">There are 20 photos on the page.</h1>
    </header>
    <div id = "HomepagePhotos">
    </div>
</body>
</html>