<div id="WA-welcome">
    <h1>Welcome to the Wizard's Column!</h1>
</div>

<div id="WA-flashmessagebetween"></div>
<br>

<div id="imageborder">
    <div id="imageposts">
        {{#each results}}
            {{> card this}}
         {{/each}}
    </div>
</div>