<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image of the Day - The Wizard's Abode</title>
</head>
<body>
    <h1>Image of the Day</h1>
    <h1>Post Title: Yin and Yang</h1>

        <p><strong>Author:</strong> UncleIroh</p>

        <p><strong>Creation Time:</strong> <time datetime="2021-02-28T23:13:45">2/28/2021, 23:13:45</time></p>
        
        <img id="WA-photooftheday" src="https://img.pngio.com/yin-yang-logo-yin-and-yang-symbol-yin-yang-transparent-ying-yang-background-png-800_600.jpg">

</body>
</html>