<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>Login - The Wizard's Abode</title>
</head>
<body>
        <h1>Log In</h1>
    
    <form>
        <label for="uname">Username</label>
        <input class="LoginRegisterInputFields" type="text" name="uname" required/>

        <br>

        <label for="pword">Password</label>
        <input class="LoginRegisterInputFields" type="password" id="pass" name="pword" required/>

        <br>
        
        <input type="submit" value="Submit">
    </form>
    
 
</body>
</html>