<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>Login</title>
</head>
<body>
    <header>
        <img id="WizardsAbodeLogo" src="public/css/fonts/The Wizard's Abode (Final Logo).png">
        <h1>Login Form</h1>
    </header>
    
    <form>
        <label for="uname">Username</label>
        <input type="text" name="uname" />

        <br>

        <label for="pword">Password</label>
        <input type="password" id="pass" name="pword" />

        <br>
        
        <input type="submit" value="Submit">
    </form>
    
    <footer>

    </footer>  
</body>
</html>