<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Post a New Image - The Wizard's Abode</title>
</head>

    <h1>Post a New Image</h1>
    <form id="post-image" class="wizardsabode-postimage" method="POST" enctype="multipart/form-data" 
    action='/posts/createPost'>
        <label for="newimage">Post a saved image from your computer:</label>
        <input type="file" id="WA-newimage" name="newimage" accept="image/png, image/jpeg" required>
        
        <br>

        <label for="title">Title of your post:</label>
        <input id="posttitle" type="text" name="title" required>
        <span id='title-message'></span>

        <br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="10" cols="60" required></textarea>
        <span id='description-message'></span>

        <br>

        <div>
            <input type="checkbox" id="acceptableuse" name="acceptableuse" required>
            <label for="acceptableuse">By clicking this box, I verify that I agree with the Acceptable Use Policy.</label>
        </div>

        <input type="submit" id="WA-postnewimage" value="Post Image" onclick="return ImageValidation();">

    </form>
    <script defer>
        
    /*These next few functions and variables are for my Image Validation for 
    when a user posts a new image. It's similar to my Registration Form data. 
    I also had to put these functions inside my script to remove the Syntax 
    Error.*/

    var titleInput = document.getElementById("posttitle");
    var descriptionInput = document.getElementById("description");

    function ImageValidation() {
        if (!CheckTitle() || !CheckDescription()){
            return false;
        } else {
            return true;
        }
    }

    function CheckTitle() {
        var actualTitle = /^[A-Za-z][A-Za-z0-9]+$/;
        if (titleInput.value.match(actualTitle)) {
            document.getElementById('title-message').style.color = 'green';
            document.getElementById('title-message').innerHTML = 'Decent title';
            return true;
        } else if (!titleInput.value.match(actualTitle)) {    
            document.getElementById('title-message').style.color = 'red';
            document.getElementById('title-message').innerHTML = 'Error: Must enter a title for your post.';
            return false;
        }
    }


    function CheckDescription() {
        var actualDescription = /^[A-Za-z][A-Za-z0-9]+$/;
        if (descriptionInput.value.match(actualDescription)) {
            document.getElementById('description-message').style.color = 'green';
            document.getElementById('description-message').innerHTML = 'Decent title';
            return true;
        } else if (!descriptionInput.value.match(actualDescription)) {    
            document.getElementById('description-message').style.color = 'red';
            document.getElementById('description-message').innerHTML = 'Error: Must enter a description for your post.';
            return false;
        }
    }

    </script>
</html>