<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>Post a New Image - The Wizard's Abode</title>
</head>

    <h1>Post a New Image</h1>
    <form>
        <label for="newimage">Post a saved image from your computer:</label>
        <input type="file" id="newimage" name="newimage" accept="image/png, image/jpeg" required>
        
        <br>

        <label for="title">Title of your post:</label>
        <input id="posttitle" type="text" name="title" required>

        <br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="10" cols="60" required></textarea>

        <br>

        <div>
            <input type="checkbox" id="acceptableuse" name="acceptableuse" required>
            <label for="acceptableuse">By clicking this box, I verify that I agree with the Acceptable Use Policy.</label>
        </div>

        <input type="submit" value="Post Image">

    </form>
    
</html>