<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>Registration - The Wizard's Abode</title>
</head>

<body>
  
    <h1>Register a New Account</h1>

    <form id="registerinfo">
        <label for="uname">Username</label>
        <input class="LoginRegisterInputFields" type="text" id="username" name="uname" 
        required onkeyup="CheckUsername();">
        <span id='char-message'></span>
        <span id='uname-message'></span>
        <br>

        <label for="email">Email</label>
        <input class="LoginRegisterInputFields" type="email" name="email" required>
        <span id='message2'></span>
        <br>
        
        <label for="pword">Password</label>
        <input class="LoginRegisterInputFields" type="password" id="password" name="pword" required
        onkeyup="CheckPassword();">
        <span id='pword-message'></span>
        <br>

        <label for="conpword">Confirm Password</label>
        <input class="LoginRegisterInputFields" type="password" id="confirmpassword" name="conpword" required
        onkeyup="MatchingPassword();">
        <span id='match-message'></span>

        <div>
            <input type="checkbox" id="verifyage" name="verifyage" required>
            <label for="verifyage">I am 13+ years of age.</label>
        </div>

        <div>
            <input type="checkbox" id="termsofservice" name="termsofservice" required>
            <label for="termsofservice">By clicking this box, I verify that I have read and agreed to the Terms of Service.</label>
        </div>
        
        <a href="https://google.com" target="_blank">TOS and Privacy Rules</a>

        <br>
        <input type="submit" id="submit" name="submit" value="Create Account"/>
    </form>
    
<script defer type="text/javascript" src="public/js/FormValidation.js"></script>
</body>
</html>