<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>Registration - The Wizard's Abode</title>
</head>

<body>
  
    <h1>Register a New Account</h1>

    <form name="registerinfo" method="POST" action="/users/register" 
    enctype="application/x-www-form-urlencoded">
        <label for="uname">Username</label>
        <input class="LoginRegisterInputFields" type="text" id="username" name="uname" 
        required>
        <span id='char-message'></span>
        <span id='uname-message'></span>
        <br>

        <label for="email">Email</label>
        <input class="LoginRegisterInputFields" type="email" name="email" required>
        <span id='message2'></span>
        <br>
        
        <label for="pword">Password</label>
        <input class="LoginRegisterInputFields" type="password" id="password" name="pword" required>
        <span id='pword-message'></span>
        <br>

        <label for="conpword">Confirm Password</label>
        <input class="LoginRegisterInputFields" type="password" id="confirmpassword" name="conpword" required>
        <span id='match-message'></span>

        <div>
            <input type="checkbox" id="verifyage" name="verifyage" required>
            <label for="verifyage">I am 13+ years of age.</label>
        </div>

        <div>
            <input type="checkbox" id="termsofservice" name="termsofservice" required>
            <label for="termsofservice">By clicking this box, I verify that I have read and agreed to the Terms of Service.</label>
        </div>
        
        <a href="https://google.com" target="_blank">TOS and Privacy Rules</a>

        <br>
        <input type="submit" id="WA-submit-register" name="submit" value="Begin Your Journey" onclick="return FormValidation();"/>
    </form>
    
<script defer>

/* I decided to put my code for the Register Form Validation into my actual 
Registration.hbs file, because when I loaded the page I got the Syntax error 
that stated that "flashElement" had already been identified, and I realized 
I called my Form Validation.js file twice, both in my Home.hbs file and this 
file here. Now I have the functions to verify the data here and it works 
normally... I hope :|
    
Original Comment from Assignment 4:
Sorry, I couldn't exactly figure out how to allow the page
to submit when the right information (valid username/password, 
matching password) was entered.
EDIT: I actually got it to work. These next few blocks/functions
of code is for my Form Validation, for when a user registers 
a new account.*/

var usernameInput = document.getElementById("username");
var passwordInput = document.getElementById("password");
var confirmPassword = document.getElementById("confirmpassword");

function FormValidation() {
    if (!CheckUsername() || !CheckValidUsername() || !CheckPassword() || !MatchingPassword()){
        return false;
    } else {
        return true;
  }
}

function CheckUsername() {
    /*Check if the username starts with an alphanumeric character.*/
    var beginningUsername = /^[A-Za-z][A-Za-z0-9]+$/;
    if (usernameInput.value.match(beginningUsername)) {
        document.getElementById('char-message').style.color = 'green';
        document.getElementById('char-message').innerHTML = 'Valid first character.';
        return true;
    } else if (!usernameInput.value.match(beginningUsername)) {    
        document.getElementById('char-message').style.color = 'red';
        document.getElementById('char-message').innerHTML = 'Error: Username must begin with an alphanumeric character.';
        return false;
    }
}

function CheckValidUsername() {
    /*Check if the username contains at least three characters.*/
    var usernameCharacters = /^[A-Za-z]\w{2,20}$/;
    if (usernameInput.value.match(usernameCharacters)) {        
        document.getElementById('uname-message').style.color = 'green';
        document.getElementById('uname-message').innerHTML = 'Good username!';
        return true;
    } else if (!usernameInput.value.match(usernameCharacters)){   
        document.getElementById('uname-message').style.color = 'red';
        document.getElementById('uname-message').innerHTML = 'Error: Username must contain at least 3 alphanumeric characters.';
        return false;
        }
}


function CheckPassword() { 
    var passwordCharacters = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
    if (passwordInput.value.match(passwordCharacters)) {
        document.getElementById('pword-message').style.color = 'green';
        document.getElementById('pword-message').innerHTML = 'Valid Password';  
        return true;
    } else if (!passwordInput.value.match(passwordCharacters)){ 
        document.getElementById('pword-message').style.color = 'red'; 
        document.getElementById('pword-message').innerHTML = 'Error: Password must be at least 8 characters and contain 1 letter, 1 number and a symbol.';  
        return false;
    }
}

function MatchingPassword() {
    if (confirmPassword.value == passwordInput.value) {
        document.getElementById('match-message').style.color = 'green';
        document.getElementById('match-message').innerHTML = 'Passwords Match';
        return true;
    } else  {
        document.getElementById('match-message').style.color = 'red';
        document.getElementById('match-message').innerHTML = 'Error: Passwords do not match.';
        return false;
    }
}

</script>
</body>
</html>