/* This file describes all of my styling for The Wizard's Abode, including the Wizard's Column,
the individual posts, and the search bar and navigation bar among other things.
 For the style of the Home.html document, I will use a similar aesthetic to the one established
on the Form.css file, in that the Alegreya/Centaur font, background image and color scheme will be similar.
As such, the next few blocks of code will be identical to the one on my Form file.*/
@font-face {
    font-family: "AlegreyaHeaderFont";
    src: url("../css/fonts/Alegreya-Regular.otf");
  }

  @font-face {
    font-family: "CentaurLabelFont";
    src: url("../css/fonts/Centaur.ttf")
  }

  /* This is for the header, which will be centered along with the title. */
header{
  text-align: center;
  margin-top: 1em;
}

 /* This block is for the body of my HTML files, specifically with a block display, 
 a height of 1080px, a relative position and the background image.*/
body {
    display: block;
    width: 100%;
    height: 1080px;
    position: relative;
    margin: auto;
    background-image: url("./fonts/The Wizards Abode Background Image (Newest Version 1).png");
    background-attachment: scroll;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
  }

/*This is the code for my hand-drawn and digitally edited logo, with a width of 330px 
and a height of 240px. I added 10 pixels to the width so that the text could be a bit 
more stretched out and readable.
5/16/2021 Edit: I also added a feature so that the logo can glow and pulsate when hovering
above it. This feature works in tandem with my theme appearance buttons, located down below.*/
img[id="WizardsAbodeLogo"] {
    width: 330px;
    height: 240px;
    filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }


  div[class="WA-logochangingthemes"] {
    width: 1030px;
    height: 290px;
    margin: auto;
  }
  
  /*To implement my cool feature where people can change the themes of my website,
  I made four blocks of code that describe my orb buttons, which will hide when
  a user doesn't hover on the Wizard's Abode logo.*/
  #WA-orb1  {
    display: none;
    margin: 0px 35px 0px 280px;
    background-image: url("../css/fonts/Glowing\ Orb\ 1.png");
    width: 20px;
    height: 20px;
    background-size: 140% 140%;
    background-position: -3px -3px;
    background-repeat: no-repeat;
    border-radius: 50%;

  }


  #WA-orb2 {
    display: none;
    margin: 220px 0px -240px 280px;
   
    width: 20px;
    height: 20px;
    background-size: 140% 140%;
    background-position: -3px -3px;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  #WA-orb3 {
    display: none;
    margin: -265px 35px 240px 700px;
    background-image: url("../css/fonts/Glowing\ Orb\ 3.png");
    width: 20px;
    height: 20px;
    background-size: 140% 140%;
    background-position: -3px -3px;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  #WA-orb4 {
    display: none;
    margin: -20px 110px 5px 700px;
    background-image: url("../css/fonts/Glowing\ Orb\ 4.png");
    width: 20px;
    height: 20px;
    background-size: 140% 140%;
    background-position: -3px -3px;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  /*When a user hovers on the Wizard's Abode cauldron, each of the four orbs will
  appear - two on the left side and two on the right. They will each fade in
  smoothly as well.*/
  div[class="WA-logochangingthemes"]:hover > #WA-orb1 {
    display: block;
    background-image: url("../css/fonts/Glowing\ Orb\ 1.png");
    margin: 45px 65px -140px 200px;
    width: 20px;
    height: 20px;
    background-size: 140% 140%;
    background-position: -3px -3px; 
    background-repeat: no-repeat;
    border-radius: 50%;
    filter: drop-shadow(black);
    animation: fadein 0.5s;

  }

  div[class="WA-logochangingthemes"]:hover > #WA-orb2 {
    display: block;
    background-image: url("../css/fonts/Glowing\ Orb\ 2.png");
    margin: 120px 35px 0px 280px;
    width: 20px;
    height: 20px;
    background-size: 140% 140%;
    background-position: -3px -3px; 
    background-repeat: no-repeat;
    border-radius: 50%;
    filter: drop-shadow(black);
    animation: fadein 0.5s;
  }

  div[class="WA-logochangingthemes"]:hover > #WA-orb3 {
    display: block;
    background-image: url("../css/fonts/Glowing\ Orb\ 3.png");
    margin: -265px 35px 240px 700px;
    width: 20px;
    height: 20px;
    background-size: 140% 140%;
    background-position: -3px -3px;
    background-repeat: no-repeat;
    border-radius: 50%;
    filter: drop-shadow(black);
    animation: fadein 0.5s;
  }

  div[class="WA-logochangingthemes"]:hover > #WA-orb4 {
    display: block;
    background-image: url("../css/fonts/Glowing\ Orb\ 4.png");
    margin: -260px 110px 5px 780px;
    width: 20px;
    height: 20px;
    background-size: 140% 140%;
    background-position: -3px -3px;
    background-repeat: no-repeat;
    border-radius: 50%;
    filter: drop-shadow(black);
    animation: fadein 0.5s;
  }

  img[id="WizardsAbodeLogo"]:hover {
    width: 330px;
    height: 240px;
    filter: drop-shadow(0 0 0.2rem rgba(3, 248, 228, 0.856));
    animation-name: nudgelogo;
    animation-timing-function: ease;
  }

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}


@keyframes nudgelogo {
  0%   { transform: translateY(0); filter: drop-shadow(0 0 0.2rem rgba(3, 248, 228, 0.856));}
  25%  { filter: drop-shadow(0 0 0.2rem rgba(7, 3, 248, 0.856));}
  50%  { transform: translateY(-5px); filter: drop-shadow(0 0 0.2rem rgba(191, 3, 248, 0.712));}
  75%  { filter: drop-shadow(0 0 0.2rem rgba(7, 3, 248, 0.856));}
  100% { transform: translateY(5px); filter: drop-shadow(0 0 0.2rem rgba(3, 248, 228, 0.856));}
}


/*These lines of code are for the hover effect on my glowing 
orbs.*/
#WA-orb1:hover {
  color: rgba(0, 255, 255, 2);
  box-shadow: 0 0px 10px rgb(0 255 255);
}


#WA-orb2:hover {
  color: rgba(255, 0, 0, 2);
  box-shadow: 0 0px 10px rgb(255 255 0);
}

#WA-orb3:hover {
  color: rgba(255, 255, 255, 2);
  box-shadow: 0 0px 10px rgb(255 255 255);
}

#WA-orb4:hover {
  color: rgba(255, 0, 255, 2);
  box-shadow: 0 0px 10px rgb(255 0 255);
}

h1 {
    font-family: "AlegreyaHeaderFont";
    font-size: 45px;
    text-align: center;
    color: rgb(0, 204, 255);
    text-shadow: -1px 0 rgb(76, 0, 255), 0 1px rgb(76, 0, 255), 1px 0 rgb(76, 0, 255), 0 -1px rgb(76, 0, 255);
    text-shadow: 1px 1px 2px black;
}

h1[id="number-of-photos"] {
    font-family: "CentaurLabelFont";
    font-size: 30px;
    text-shadow: 1px 1px 1.5px black;

}


/*This wrapper tag is for the navigation bar, which will feature buttons 
that take the user to different portions of the website. The button styling 
for each icon is located down below.*/
#wrapper {
  position: relative;
  display: flex;
  width: 1000px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 100px;
  background: blue;
  border: 1px solid black;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
}

.navigationbar {
  overflow: hidden;
  font-family: "AlegreyaHeaderFont";
}

.navigationbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
}

.navigationbar a:hover {
  background-color: purple;
  color: black;
}

#theabode-searchicon:hover {
  background-color: purple;
}




/*These next few blocks of code are for displaying the images on The Column homepage.
The Image Border class is for displaying an organized grid layout for photos, and the 
Homepage Photos class is for displaying the actual images on the page, along with the 
title and description.
EDIT: Image Border is now what it originally was, a white border for the posts to be 
laid on. Image Posts will function for displaying the grid for photos.*/

#imageborder{
  position: static;
  display: flex;
  width: 1000px;
  height: auto;
  margin: 0px auto;
  border: 1px solid black;
  border-radius: 10px;
  border-top: violet;
  background: white;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

#imageposts {
  grid-area: content;
  display: grid;
  padding-top: .35em;
  padding-bottom: .35em;
  gap: .2rem .2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 200px 200px 200px 200px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 0px 95px;
}

@media screen and (max-width: 950px){
  #imageposts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px){
  #imageposts {
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px){
  #imageposts {
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }
}

.HomepagePhotos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  max-width: 200px;
  max-height: 400px;
  min-width: 200px;
  min-height: 400px;
  margin: auto;
}

.HomepagePhotos-image {
  grid-area: 1 / 1 / 2 / 2;
  display: inline-block;
  background-position: 0px;
  height: auto;
}

div[class=HomepagePhotos] > img {
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 150px;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
  margin: auto;
}

.HomepagePhotos-title {
  color: rgb(0, 204, 255);
  font-family: "CentaurLabelFont";
  margin-bottom: .1rem;
  margin-top: 0;
  padding-top: .1rem; 
}

.HomepagePhotos-body {
  grid-area: 2 / 1 / 3 / 2;
  padding: .75rem;
  background-color: white;
  border-radius: 0 0 .2rem .2rem;
  margin: auto;
  min-width: 150px;
  max-width: 200px; /*change to 200px if it doesn't work out.*/
}

div[class=HomepagePhotos-body] > a[class=HomepagePhotos-postdetails] {
  text-decoration: none;
}

div[class=HomepagePhotos-body] > a[class=HomepagePhotos-button] {
  text-decoration: none;
}

.HomepagePhotos-description {
  font-family: "CentaurLabelFont";
  font-size: 20px;
  min-width: 150px;
  max-width: 200px;
  min-height: 40px;
  max-height: 50px;
  text-align: center;  
  color :rgb(0, 0, 0);
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*The flash-message blocks of code is for showing the error or success message when a user logs in.*/
#flash-message {
  position: relative;
  margin: auto;
  display: block;
}

#flash-message div {
  text-align: center;
  font-family: "CentaurLabelFont";
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}

.alert-danger{
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px 2px black;
}

.alert-success{
  color: rgb(0, 255, 0);
  text-shadow: 1px 1px 2px black;
}

.alert-info {
  color: rgb(0, 175, 255);
  text-shadow: 1px 1px 2px black;
}


/*These blocks of code are for the search bar on my website. It will appear 
only when a user clicks on the search button near the navigation bar.*/
input[id="theabode-search"] { 
  width: 300px;
  height: auto;
  border-radius: 100px;
  font-family: "CentaurLabelFont";
  font-size: 20px;
  text-align: center;
  background-color: white; 
  background-repeat: no-repeat;
  padding: 15px 12px 15px 12px;
  filter: drop-shadow(0px 1px 5px black);
}

#theabode-searchicon {
  background-image: url("../css/fonts/search_icon_153438.png");
  background-color: blue;
  width: auto;
  height: 50px;
  background-size: 90% 80%;
  background-position: 3px 5px; 
  background-repeat: no-repeat;
  padding: 15px 20px;
  align-items: center;
}


div[id="WA-searchbar"] {
  display: block;
  position: relative;
}

div[id="WA-dropdownsearchbar"] {
  display: none;
  width: 300px;
  height: 40px;
  margin: 20px auto;
}

#WA-dropdownsearchbar + #theabode-searchicon {
  animation: fadein 0.5s;
}


  /*This section will be for the styling of my "Individual Posts" page, 
  containing all the necessary blocks of code to implement this.
  */

 /*Update as of 5/12/2021: I decided to implement the "imageborder" from the home page onto 
  the individual posts.*/

.WA-individualpostborder{
  position: static;
  display: flex;
  width: 1000px;
  min-height: 575px;
  height: auto;
  margin: 0px auto;
  border: 1px solid black;
  border-radius: 10px;
  border-top: violet;
  background: white;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/*This block is for the actual placement of the image on the 
Individual Post border.*/
div[id="WA-imageplacement"] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: photoinfo;
  width: 512px;
  max-width: 960px;
  height: 288px;
  margin-top: 80px;
  margin-left: 25px;
}

/*This block is for sizing the image so that it maintains its aspect ratio.
I also added a black drop shadow to make the images stand out.*/
img[id="WA-image"] {
  width: auto;
  height: 288px;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
  margin: auto;
}

div[id="WA-postdescription"] {
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  margin: 440px 0px 0px -400px;
  align-content: center;
  justify-content: space-evenly;
}

p[id="WA-description"] {
  display: block;
  width: 400px;
  height: 100px;
  margin: auto;
  overflow: auto;
  text-align: center;
}


/*These next few blocks will serve as my design for the comment section.
First, I have a comment container which will be aligned to the right of
each image (like on Instagram) and scroll vertically if multiple comments
display at a time.
EDIT 5/17/2021: I removed the overflow-y property and added it to my "WA-
comment-section" div. That way, only one scroll bar shows up at a time 
(at least until someone posts a long comment).*/
div[id="WA-comment-container"] {
  display: grid;
  justify-self: stretch;
  grid-area: comments;
  grid-template-rows: auto 75px;
  grid-template-columns: 1fr;
  gap: .2rem;
  grid-template-areas: 
  "messages"
  "WA-comment-box";
  max-height: 500px;
  margin: 0px 0px 0px 100px;
}

/*Next, this block of code defines the styling and position for all of
the comments.*/
#WA-messages {
  grid-area: messages;
  display: flex;
  flex-flow: column nowrap;
  scroll-behavior: smooth;
  box-shadow: -1px 1px 1px 1px black;
  border-radius: .25rem;
  min-width: 300px;
}

a[id="WA-comment-title"] {
  color: rgb(0, 204, 255);

}

/*This block of code describes each individual comment post, 
including the title, date posted and the actual comment posted.*/
div[id^=WA-message-] {
  grid-area: messages;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  scroll-behavior: smooth;
  border: 0px solid black;
  box-shadow: 0px 1px 1px 0px black;
  border-radius: .35rem;
  max-height: 130px;
}

/*The author-text class for my strong tag is for the creator
 of the original post, and its styling is a simple Centaur 
 font with a blue color and a black shadow.*/
.author-text {
  grid-area: author;
  justify-self: start;
  color: blue;
  font-family: "CentaurLabelFont";
  text-shadow: 0 0 black;
}

/*These two blocks simply display the date of the comments
with a Centaur font, a black shadow and an alignment to 
the left.*/
span[class="date-posted"] {
  display: block;
  font-family: "CentaurLabelFont";
  font-size: 15px;
  text-align: left;
  text-shadow: 1px 1px 1.5px black;
}

.date-posted {
  grid-area: created;
  justify-self: end;
}

/*Now we go to the actual comment a user left on the image.
This will have an overflow-y property of auto along with
a maximum height and width of 80px and 300px respectively.
That way if a user left a long comment, all of it can be 
shown by simply clicking the scroll bar. It also has a 
font of Centaur and a black shadow.*/
.comment-text {
  grid-area: comments;
  overflow-y: auto;
  min-height: 40px;
  max-height: 80px;
  max-width: 300px;
  font-family: "CentaurLabelFont";
  text-shadow: 0 0 black;
}

/*This block will stylize the comment box such that it aligns
with the comment section below and to the right. The textarea
block of code below defines how the text looks when commenting,
its black text shadow and box shadow, and its inability to 
resize.*/
div[id="WA-comment-box"] {
  margin: 0px 0px 0px 615px;
}

textarea[id="individual-post-comments"] {
  position: relative;
  display: block;
  resize: none;
  font-family: "CentaurLabelFont";
  text-shadow: 0px 0px 1px black;
  box-shadow: 0px 2px 2px rgb(0, 0, 0);
}
  

/* And finally, I added a div container for my comment section in
general. I realized I had problems aligning my images and comments
in a consistent manner, so placing the comment container
into a comment section really helped.*/
div[class="WA-comment-section"] {
  margin: auto;
  max-width: 440px;
  max-height: 350px;
  overflow-y: scroll;
}

/*This is the end of my CSS file for the Home page.
:)*/ 