
/* For the style of the Home.html document, I will use a similar aesthetic to the one established
on the Form.css file, in that the Alegreya/Centaur font, background image and color scheme will be similar.
As such, the next few blocks of code will be identical to the one on my Form file.*/
@font-face {
    font-family: "AlegreyaHeaderFont";
    src: url("../css/fonts/Alegreya-Regular.otf");
  }

  @font-face {
    font-family: "CentaurLabelFont";
    src: url("../css/fonts/Centaur.ttf")
  }

  /* This is for the header, which will be centered along with the title. */
header{
  text-align: center;
  margin-top: 1em;
}

 /* This block is for the body of my HTML files, specifically with a block display, 
 a height of 1080px, a relative position and the background image.*/
body {
    display: block;
    width: 100%;
    height: 1080px;
    position: relative;
    margin: auto;
    background-image: url("../css/fonts/The\ Wizard\'s\ Abode\ Background\ Image\ \(Fade\ Version\ 1\).png");
    background-attachment: scroll;
    background-position: 50% 0%;
    background-repeat: no-repeat;
  }

/*This is the code for my hand-drawn and digitally edited logo, with a width of 330px 
and a height of 240px. I added 10 pixels to the width so that the text could be a bit 
more stretched out and readable.*/
img[id="WizardsAbodeLogo"] {
    width: 330px;
    height: 240px;
    filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
  }

h1 {
    font-family: "AlegreyaHeaderFont";
    font-size: 45px;
    text-align: center;
    color: rgb(0, 204, 255);
    text-shadow: -1px 0 rgb(76, 0, 255), 0 1px rgb(76, 0, 255), 1px 0 rgb(76, 0, 255), 0 -1px rgb(76, 0, 255);
    text-shadow: 1px 1px 2px black;
}

h1[id="number-of-photos"] {
    font-family: "CentaurLabelFont";
    font-size: 30px;
    text-shadow: 1px 1px 1.5px black;

}


/*This wrapper tag is for the navigation bar, which will feature buttons 
that take the user to different portions of the website. The button styling 
is located down below.*/
#wrapper {
  position: relative;
  display: flex;
  width: 1000px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 100px;
  background: blue;
  border: 1px solid black;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
}

.navigationbar {
  overflow: hidden;
  font-family: "AlegreyaHeaderFont";
}

.navigationbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
}

.navigationbar a:hover {
  background-color: purple;
  color: black;
}

/*These next few blocks of code are for displaying the images on The Column homepage.
The Image Border class is for displaying an organized grid layout for photos, and the 
Homepage Photos class is for displaying the actual images on the page, along with the 
title and description.*/
#imageborder{
  grid-area: content;
  display: grid;
  padding-top: .35em;
  padding-bottom: .35em;
  gap: .2rem .2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 200px 200px 200px 200px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

@media screen and (max-width: 950px){
  #imageborder {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px){
  #imageborder {
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px){
  #imageborder {
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }
}

.HomepagePhotos{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.HomepagePhotos-image {
  grid-area: 1 / 1 / 2 / 2;
}

div[class=HomepagePhotos] > img {
  height: auto;
  width: 100%
}

.HomepagePhotos-title {
  color: rgb(0, 204, 255);
  font-family: "CentaurLabelFont";
  margin-bottom: .1rem;
  margin-top: 0;
  padding-top: .1rem; 
}

.HomepagePhotos-body {
  grid-area: 2 / 1 / 3 / 2;
  padding: .75rem;
  background-color: white;
  background-attachment: scroll;
  border-radius: 0 0 .2rem .2rem;
}

div[class=HomepagePhotos-body] > a[class=HomepagePhotos-button] {
  text-decoration: none;
}
div[class=HomepagePhotos-body] > a[class=HomepagePhotos-button] {
  text-decoration: none;
}

.HomepagePhotos-text {
  font-family: "CentaurLabelFont";
  font-size: 20px;
  text-align: center;  
  color :rgb(0, 0, 0);
  text-shadow: -1px 0 rgb(76, 0, 255), 0 1px rgb(76, 0, 255), 1px 0 rgb(76, 0, 255), 0 -1px rgb(76, 0, 255);
  text-shadow: 1px 1px 2px black;
  clear: both;
}

/*The flash-message blocks of code is for showing the error or success message when a user logs in.*/
#flash-message {
  position: relative;
}

#flash-message div {
  text-align: center;
  font-family: "CentaurLabelFont";
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}

.alert-danger{
  color:rgb(255, 0, 0)
}

.alert-success{
  color: rgb(0, 255, 0);
}

img[id="WA-image"] {
  width: 50%;
  height: 50%;
}

/*This block of code is for the search bar on my navigation bar.*/
input[id="theabode-search"] { 
    width: 100px;
    border-radius: 100px;
    font-family: "CentaurLabelFont";
    font-size: 16px;
    text-align: center;
    background-color: white;
    background-image: url("https://cdn.icon-icons.com/icons2/2566/PNG/512/search_icon_153438.png");    
    background-size: 20% 65%;
    background-position: 10px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
   
}



  /*
  */
    